html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}
body. h1 {
    text-align: right;
}
#movable-div {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    position: absolute;
    transition: transform 2s ease-in-out;
}
.control-btn {
    margin: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: rgb(182, 128, 128);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.control-btn:hover {
    background-color: #843636;
}