
body, html {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    text-align: center;
    background-color: rgb(204, 198, 190);
}
#todo-app {
    width: 300px;
    margin: auto;
}

#add-task-form, #task-list {
    margin-top: 20px;
}

#task-list li {
    margin-bottom: 10px;
}

.edit-btn, .delete-btn {
    margin-left: 10px;
}
